/bin/
/obj/
Programowanie zaawansowane II/WebCrawler/bin/
Programowanie zaawansowane II/WebCrawler/obj/
*.TMP
Programowanie zaawansowane II/CustomMessageBox/obj/
Programowanie zaawansowane II/CustomMessageBox/bin/
